/* Gucci-inspired styles */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}
  
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0077cc; /* Dark gray header background */
  }
  
  .logo {
    width: 150px; /* Adjust the logo size */
    height: auto;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff; /* White text color */
    text-decoration: none;
  }
  
  nav a:hover {
    color: #000000; /* Light gray hover text color */
  }
  
  .hero img {
    width: 1000%;
    height: auto;
    display: block;
  }
  
  .hero1 {
    background-image: linear-gradient(to bottom, #0077cc, #F5F5F5); /* Gradient background */
    background-size: auto 100%;
    background-position: center bottom;
    
  }
  
  .hero1 h1 {
    font-size: 48px; /* Large font size */
    font-weight: bold;
    color: #000000; /* White text color */
  }
  
  .signup-container {
    max-width: 400px; /* Adjust the width */
    margin: auto;
  }
  
  .signup-container h2 {
    font-size: 24px; /* Medium font size */
    font-weight: bold;
  }
  
  .signup-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .signup-container input[type="text"], .signup-container input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .signup-container button[type="submit"] {
    background-color: #333; /* Dark gray button background */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
  }
  
  .call-to-action h2 {
    font-size: 24px; /* Medium font size */
  }
  
  .call-to-action p {
    font-size: 18px; /* Small font size */
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, auto));
  }
  
  
  .grid-item img {
   width: calc(100% - 20px);
   height:auto;
   border-radius:50%;
   box-shadow:-10px -10px rgba(0,0,0,0.3);
  }
  
  .grid-item h3 {
   font-size:20px; 
   font-weight:bold; 
   color:#333;
  
  }
  .grid-item p{
      font-size :16px ; 
      color :#777 ; 
      text-align:left;
  
  }
/* Footer */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: white;
}

footer p {
    margin: 0.5rem 0;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.social-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.social-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}
