/* General Reset */
nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: darkblue;
}

img {
  width: 200px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

aside img {
  width: 200px;
  height: auto;
}

/* Aside */
aside {
  width: 300px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
}



body, h1, h2, p, nav, footer, aside, main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Paragraphs */
p {
  padding: 10px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: justify;
}

/* Footer */
footer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9rem;
  color: #555;
}


