/* General Reset */
nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

/* Apply a consistent box-sizing and reset margins and paddings */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: Arial, sans-serif;
}

main {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}


h1 {
  color: darkblue;
}

h2 {
  color: black; 
}

img {
  width: 200px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

/* Aside */
aside {
  width: 300px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

/* Paragraphs */
p {
  padding: 10px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: justify;
}

/* Footer */
footer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9rem;
  color: #555;
}
